.App {
  text-align: center;
  box-sizing: border-box;
  font-size: 40px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  height: 620px;
  width: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.display-screen {
  height: 120px;
  background-color: black;
  color: white;
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
  font-size: 65px;
}

/* Buttons */
.buttons {
  display: flex;
}

.number-buttons {
  display: flex;
  flex-wrap: wrap;
}

.big-button {
  height: 100px;
  width: 300px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.button {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.action-button {
  background-color: #b30000;
  color: white;
  font-size: 50px;
}
.equal-button {
  background-color: #ff8000;
  color: white;
}

/* Hover & Action */
.button:hover,
.big-button:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

.button:active,
.big-button:active {
  font-weight: bold;
}

.action-button:hover {
  background-color: #920202;
}

.equal-button:hover {
  background-color: #dd7206;
}
