.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  height: 620px;
  width: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.display-screen {
  height: 120px;
  background-color: black;
  color: white;
  width: 400px;
}

.buttons {
  display: flex;
}

.number-buttons {
  display: flex;
  flex-wrap: wrap;
}

.big-button {
  height: 100px;
  width: 300px;
  border: 1px solid black;
}

.button {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.zero {
  width: 300px;
}
